@font-face {
	font-family: 'galanogrotesque-medium';
	src: url('../assets/fonts/galanogrotesque-medium.otf'); 
	src: 
		url('../assets/fonts/galanogrotesque-medium.otf') 
		format('opentype');
}

@font-face {
	font-family: 'galanogrotesque-regular';
	src: 
		local('Galano-Grotesque-Regular'),
		url('../assets/fonts/galanogrotesque-regular.otf') 
		format('opentype');
}

@font-face {
	font-family: 'galanogrotesque-bold';
	src: 
		url('../assets/fonts/galanogrotesque-semibold.otf') 
		format('opentype');
}

body {
  margin: 0;
  font-family: 'galanogrotesque-regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
